h1 {
  font-size: 50px;
}

.fileRoot {
  margin: 1em;

  .card {
    min-width: 20%;
    .cardImage {
      width: auto;
      height: 160px;
      display: block;
    }
  }
}


@media (min-width: 34em) {

}