@shellHeight: 50px;

.shell {
  height: @shellHeight;
  width: 100%;
}

.wrapper {
  height: calc(100vh - @shellHeight);
  overflow-y: hidden;

  .videoPlayer {
    width: 100%;
    max-height: 100%;
    height: auto;
  }

  .imageViewer {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}
